<nav class="everyday-ai-nav">
  <div class="nav-container">
    <a href="/" class="nav-logo">
      EVERYDAY AI
    </a>
    
    <ul class="nav-menu">
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/collections/all" class="nav-link">Shop</a></li>
      <li><a href="/pages/about-keith" class="nav-link">About Keith</a></li>
      <li><a href="/pages/town-hall" class="nav-link">Town Hall</a></li>
      <li><a href="/cart" class="nav-link">
        <i class="fas fa-shopping-cart"></i> Cart
      </a></li>
    </ul>
  </div>
</nav>
